/* CSS kód */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

header {
  background-color: #bdd714;
  color: #000000;
  text-align: center;
  padding: 20px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  font-size: 36px;
}

p {
  font-size: 18px;
}

.icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 25px 0;
}

.icon-container {
  text-align: center; /* zarovnání textu na střed */
}

.icon-container img {
  width: 100px; /* Fixní šířka ikony */
  height: auto; /* Automatická výška pro zachování poměru stran */
}
.icons img {
  width: 75%;
  max-width: 100%;
}

.icon-text {
  margin-top: 10px; /* odsazení od obrázku */
}

.contact-info {
  background-color: #ffffff;
  padding: 20px;
  margin-top: 20px;
  border-radius: 5px;
}

* {
  box-sizing: border-box;
}

h3 {
  text-align: center;
}

.icon-container img {
  width: 60%;
}
@media (max-width: 500px) {
  .icon-container img {
      width: 50%; /* Zmenšení šířky obrázků */
  }
  .icon-text {
      font-size: 0.9em; /* Zmenšení velikosti textu */
  }
}